<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnInfo" connectionString="server=XEOS-DB;database=SEEC_MKTG;uid=seec_mktgu;pwd=seec_mktg@6317"/>
  </connectionStrings>
  <appSettings>
    <!--是否在執行時即立即啟動-->
    <add key="RuningAndStart" value="N"/>
    <!--掃描間隔時間 (單位:分鐘)-->
    <add key="ScanInterval" value="10"/>
    <!--LOG 的輸出路徑 (若空值則輸出至應用程式根目錄)-->
    <add key="LogPath" value=""/>
    <!-- 訊息視窗中可顯示的行數 -->
    <add key="MessageLogsMaxLine" value="300"/>

    <!--是否啟用 ERP 客戶資料轉入排程器-->
    <add key="EnableImportErpCusterScheduler" value="Y"/>
    <!--ERP 客戶資料轉入排程器的每日掃描時間 (HH:mm:ss)-->
    <add key="ImportErpCusterSchedulerScanTime" value="00:00:00"/>

    <!--是否啟用 ERP 庫存資料轉入排程器-->
    <add key="EnableImportErpInvScheduler" value="Y"/>
    <!--ERP 庫存資料轉入排程器的每日掃描時間 (HH:mm:ss)-->
    <add key="ImportErpInvSchedulerScanTime" value="00:20:00"/>

    <!--是否啟用 ERP 折扣資料轉入排程器-->
    <add key="EnableImportErpDctScheduler" value="Y"/>
    <!--ERP 庫存資料轉入排程器的每日掃描時間 (HH:mm:ss)-->
    <add key="ImportErpDctSchedulerScanTime" value="00:40:00"/>

    <!--是否啟用 ERP 內銷訂單狀態更新排程器-->
    <add key="EnableUptDomErpOdrScheduler" value="Y"/>
    <!--截取 ERP 內銷訂單狀態更新排程器掃描間隔時間（單位:分鐘）-->
    <add key="UptDomErpOdrSchedulerScanInterval" value="20"/>

    <!--是否啟用 ERP 外銷出貨單狀態更新排程器-->
    <add key="EnableUptExtShipOdrScheduler" value="Y"/>
    <!--截取 ERP 外銷出貨單狀態更新排程器掃描間隔時間（單位:分鐘）-->
    <add key="UptExtShipOdrSchedulerScanInterval" value="20"/>

    <!--ERP Agent Web Service Url。-->
    <!--<add key="ErpAgentWSUrl" value="http://59.120.19.247:8888/net_talk/ws/erp_agent.asmx"/>-->
    <!--<add key="ErpAgentWSUrl" value="http://mms.xseec.cn/ERPAgent/net_talk/ws/erp_agent.asmx"/>-->
    <add key="ErpAgentWSUrl" value="http://218.32.11.96/ERPAgent/net_talk/ws/erp_agent.asmx"/>
    <!--ERP Agent 客戶端 Private Key-->
    <add key="ErpAgentPrivateKey" value="97C635499B814DB38E4590FA7AB8599E"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
